.home-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--grey-color);
  gap: 1rem;
}

.home-wrapper h5{
  width: 70%;
}

.home-contents {
  width: 70%;
  display: flex;
  jutify-content: space-between;
  gap: 1rem;
}

.home-left {
  flex: 1;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.usd {
  background: var(--black-color);
  width: 100%;
  height: 30vh;
  padding: 1rem;
}

.subtitle {
  width: 100%;
  height: 20vh;
}

.subtitle p {
  color: var(--black-color);
  font-size: 1rem;
  margin: 1rem 0;
}

.subtitle button {
  width: 12rem;
  height: 2.5rem;
  border: none;
  background: var(--black-color);
  color: var(--grey-color);
  border-radius: 3px;
  cursor: pointer;
}

.subtitle button:hover{
  background: var(--green-color);
  transition: all 0.3s ease;
}

.home-right {
  flex: 1.3;
  width: 100%;
  height: 60vh;
  background: var(--black-color);
  overflow: scroll;
}

.home-right ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.home-right li {
  width: 100%;
  height: 2rem;
  list-style: none;
  border-bottom: 1px solid var(--grey-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-size: 0.8rem;
}

.unit-code {
  color: var(--grey-color);
}

.current-rate {
  color: var(--grey-color);
}

.current-change {
  color: var(--green-color);
}

.red{
  color: var(--orange-color);
}